body {
  margin: 0;
  padding: 0;
}

.tooltip__text {
  position: relative;
  max-width: 375px;
  padding: 20px 78px 20px 30px;
}

.tooltip__symbol {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip__popup {
  position: absolute;
  bottom: 54px;
  right: 16px;
  visibility: hidden;
  display: block;
  padding: 10px 15px;
  max-width: 200px;
  color: white;
  text-align: center;
  background-color: #666;
  opacity: 0;
  /* transform: translate(-50%, -110%); */
  transition: opacity .3s ease-in-out, visibility .6s;
}

.tooltip__popup::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  border-top-width: 10px;
  transform: translateX(-50%);
}

.tooltip__symbol:hover + .tooltip__popup,
.tooltip__symbol:focus + .tooltip__popup {
  visibility: visible;
  opacity: 1;
}